@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  .navv{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: -30rem;
    width: 100%;
    left: 0;
    background-color: white;
    padding: 2rem;
    transition: .5s;
  }
  .show{
    top: 5.3rem;
  }
}
.navv li::after{
  width: 0;
  height: 3px;
  background-color: black;
  position: absolute;
  content: "";
  left: 0;
  bottom: -.7rem;
  transition: width 0.35s ease 0s;
}
.navv li:hover::after{
  width: 100%;
}
.navv li{
  position: relative;
}

/* Projects Component */
